.single{
    margin-left: 13rem;
    margin-top: 5rem;
    font-family: 'Josefin Sans', sans-serif;

}
.singlePicture img{
    height: 500px;
    width: 85%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 0px 0px 30px 0px rgb(87, 73, 53);

}
.singleParagraph{
    width: 85%;
}
.singleParagraph h1{
    font-size: 28px;
    margin: 20px;
    color: gray;
}
.singleParagraph p{
    font-size: 20px;
    font-weight: 10;
}